# OpenAI Configuration
OPENAI_API_KEY=xxxxxxxxxxxxxxxxxx
OPENAI_MODEL=gpt-4o-mini
EMBEDDING_MODEL=text-embedding-3-small
FREE_LIMIT_PER_IP=3a

# Firestore Configuration
USE_FIRESTORE=true
FIREBASE_SERVICE_ACCOUNT=./serviceAccountKey.json

# General
NODE_ENV=development
